html {
  font-family: "Caveat", cursive, sans-serif;
}
h2 {
  text-align: center;
  padding: 10px 0;
  font-size: 26px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.div-item {
  margin: 5px 5px;
  padding: 5px 0;
  width: 40%;
  background-color: lightcoral;
  border: 1px solid lightgreen;
  border-radius: 5px;
}
a {
  font-size: 20px;
  text-decoration: none;
  color: lightgreen;
  display: block;
  width: 100%;
  height: 100%;
}
