* {
  font-family: "Montserrat", sans-serif;
}
section {
  background-color: #1e1e1e;
  padding: 10px;
  /* max-width: 1440px;
  margin: 0 auto; */
}
.section-div-container {
  display: flex;
  justify-content: space-evenly;
  background-color: #282828;
  border-radius: 50px;
  padding: 15px;
  max-width: 1440px;
  margin: 0 auto;
}
/* .section-div-container > div {
  width: 33%;
  margin: 10px;
} */
.section-div-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Montagu Slab", serif;
  color: #ffffff;
  margin: 5px 10px;
  width: 33%;
  /* overflow: hidden; */
}
.section-div-title :nth-child(1) {
  font-weight: 700;
  font-size: 40px;
  line-height: 51px;
  padding-left: 10px;
}
.section-div-title :nth-child(2) {
  font-size: 40px;
  line-height: 51px;
  padding-left: 10px;
}
.section-div-title :nth-child(3) {
  font-size: 24px;
  line-height: 31px;
  padding: 0 0 10px 10px;
}

.section-div-intro {
  background-color: #ffffff;
  border-radius: 40px;
  width: 28%;
  margin: 5px;
  /* min-height: 800px; */
}
.section-div-intro img {
  padding: 30% 15px 15% 15px;
  max-width: 100%;
}
.section-div-intro :nth-child(2) {
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  padding: 0 15px 5px 15px;
}
.section-div-intro :nth-child(3) {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  padding: 0 15px 5px 15px;
  margin-bottom: 15%;
}
button {
  border: 1px solid #252525;
  border-radius: 100%;
  background-color: #252525;
  color: #ffffff;
  width: 50px;
  height: 50px;
  font-size: 20px;
  left: 90%;
  top: -5%;
  position: relative;
  transform: translateY(-50%);
  transform: translateX(-50%);
}
.section-div-form button {
  top: 2%;
}

.section-div-form {
  position: relative;
  background-color: #ffffff;
  border-radius: 40px;
  width: 28%;
  padding: 5px;
}

.section-div-form img {
  max-width: 100%;
  position: absolute;
  z-index: 0;
  top: 6%;
  left: 15%;
}
.section-div-form p:nth-child(2) {
  position: relative;
  z-index: 1;
  font-size: 36px;
  line-height: 44px;
  padding: 40% 10% 5px 20%;
}
.section-div-form p:nth-child(3) {
  position: relative;
  z-index: 1;
  font-size: 14px;
  line-height: 17px;
  padding: 0 10% 5% 20%;
}
.div-form-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5%;
}
.input__personal-info {
  padding: 15px 5% 15px 15px;
  margin: 10px 10px;
  border-radius: 10px;
  border: none;
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.5);
  background: rgba(196, 196, 196, 0.2);
  width: 90%;
}

label {
  font-size: 9px;
  line-height: 10px;
  margin: 10px 10px;
}
a {
  text-decoration: none;
  color: #ffc33e;
}
.p-forgetpass {
  text-align: center;
}
.p-login {
  padding: 15% 10px 10px 10px;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
}

/* Большие проблелмы при зуме... хотелось бы знать как правильно это исправлять. */
