* {
  font-family: "Poppins", sans-serif;
  font-family: "Inter", sans-serif;
}
.main-container {
  margin: 5% auto;
  max-width: 508px;
  padding: 0 40px;
  border-radius: 14px 10px 2px;
  border: 1px solid black;
}
h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  color: #5d5fef;
  text-align: center;
  padding: 27px 0 21px;
}
.container__input {
  display: flex;
  flex-direction: column;
}
.input-username {
  background: url(./pic/User-logo.png) no-repeat;
  background-position: 5%;
}
.input-email {
  background: url(./pic/Mail-logo.png) no-repeat;
  background-position: 5%;
}
.input-password {
  background: url(./pic/Vector.png) no-repeat;
  background-position: 5%;
}
.select-country {
  background: url(./pic/country.png) no-repeat;
  background-position: 5%;
}
select {
  color: #5d5fef;
  font-weight: 200;
  font-size: 20px;
  line-height: 24px;
  padding: 5px 0 6px 12%;
  border: 2px solid #dadada;
  border-radius: 8px;
  margin-bottom: 17px;
  /* инпут и селект разные по размеру если задать одинаковый паддинг(почему??) */
}
input {
  padding: 14px 0 7px 13%;
  border: 2px solid #dadada;
  border-radius: 8px;
  margin-bottom: 10px;
}
::placeholder {
  color: #5d5fef;
  font-weight: 200;
  font-size: 20px;
  line-height: 24px;
}
p {
  color: #5d5fef;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 10px;
}
.container__radio {
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
}
.radio-style {
  display: inline-block;
  vertical-align: 2px;
  border: 3px solid #5d5fef;
  border-radius: 100%;
  height: 12px;
  width: 12px;
}
.input-radio {
  display: none;
}
.input-radio:checked + .radio-style {
  background-color: #5d5fef;
}
.container__radio label {
  color: #5d5fef;
  font-weight: 200;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  padding: 14px 15px 7px 15px;
  border: 2px solid #dadada;
  border-radius: 5px;
}
button {
  background-color: #5d5fef;
  border-radius: 5px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #ffffff;
  border: 0px;
  padding: 11px 0;
  margin: 27px 0 52px;
}
